pinecone
sentence-transformers
transformers
torch
langchain-text-splitters
langchain-core
tqdm
numpy
langfuse
dotenv

optimum[onnxruntime-gpu]
huggingface_hub[hf_xet]
deepeval
openai

hf_transfer

fastapi
uvicorn[standard]
streamlit
httpx
asyncio
# pip install llama-cpp-python --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu --no-cache-dir --force-reinstall 